@model Customer

@{
    string title = ViewBag.Action == "Add" ? "Add" : "Edit";
    ViewBag.Title = title;
}

@*Add Validation to Add Edit Pages*@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div class="text-center">
    <h1 style="background-color: #b0cac7; font-size: 50px" class="jumbotron"><b>@ViewBag.Action Customer</b></h1>
</div>
<form asp-action="Edit" asp-controller="Customers" method="post">
    @if (ViewBag.Action == "Edit")
    {
        <input asp-for="CustomerID" type="hidden" value="@Model.CustomerID" />
    }
    <div class="form-group">
        <label for="fName">First Name</label>
        <input asp-for="FirstName" type="text" class="form-control" id="fName" placeholder="First Name" value=@Model.FirstName>
    </div>
    <div class="form-group">
        <label for="lName">Last Name</label>
        <input asp-for="LastName" type="text" class="form-control" id="lName" placeholder="Last Name" value=@Model.LastName>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input asp-for="Address" type="text" class="form-control" id="address" placeholder="Address" value=@Model.Address>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input asp-for="City" type="text" class="form-control" id="city" placeholder="City" value=@Model.City>
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input asp-for="State" type="text" class="form-control" id="state" placeholder="State" value=@Model.State>
    </div>
    <div class="form-group">
        <label for="postal">Postal Code</label>
        <input asp-for="PostalCode" type="text" class="form-control" id="postal" placeholder="Postal Code" value=@Model.PostalCode>
    </div>
    <div class="form-group">

        <label asp-for="CountryID">Country</label>
        @* <select asp-for="CountryID*@

        <select asp-for="CountryID" asp-items="@(new SelectList(ViewBag.Countries, "CountryID", "Name", // use the asp- items tag helper instead of Select
                         Model.CountryID))"
                class="form-control">
            <option value="">Select a Country</option>

            @* @foreach (var c in ViewBag.Countries)
                {
                    <option value="@c.CountryID">@c.Name</option>
                }
            *@
        </select>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Enter Email" value=@Model.Email>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input asp-for="Phone" type="text" class="form-control" id="phone" placeholder="Phone" value=@Model.Phone>
    </div>
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Customers" asp-action="Index" class="btn btn-info">Cancel</a>
</form>