@model Incident
@{
    string title = ViewBag.Action == "Add" ? "Add" : "Edit";
    ViewBag.Title = title;
}

@*Add Validation to Add Edit Pages*@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div class="text-center">
    <h1 style="background-color: #b0cac7; font-size: 50px" class="jumbotron">@ViewBag.Action Incident</h1>
</div>
<form asp-action="Edit" asp-controller="Incidents" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    @if (ViewBag.Action == "Edit")
    {
        <input asp-for="IncidentID" type="hidden" value="@Model.IncidentID" />
    }
    <div class="form-group">
        <label asp-for="CustomerID">Customer</label>
       

        <select asp-for="CustomerID" asp-items="@(new SelectList(ViewBag.Customers, "CustomerID", "FullName", Model.CustomerID))"
                class="form-control">
            <option value="">Select a Customer</option>

       
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ProductID">Product</label>
   
        <select asp-for="ProductID" asp-items="@(new SelectList(ViewBag.Products, "ProductID", "Name",  Model.ProductID))"
                class="form-control">
            <option value="">Select a Product</option>

        </select>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="title" placeholder="Title" value=@Model.Title>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input asp-for="Description" type="text" class="form-control" id="description" placeholder="Description" value=@Model.Description>
    </div>
    <div class="form-group">
        <label asp-for="TechnicianID">Technician</label>
    
        <select asp-for="TechnicianID" asp-items="@(new SelectList(ViewBag.Technicians, "TechnicianID", "Name",  Model.TechnicianID))"
                class="form-control">
            <option value="">Assign A Technician</option>
           
        </select>
    </div>

    <div class="form-group">
        <label for="odate">Date Opened</label>
        <input asp-for="DateOpened" type="datetime" class="form-control" id="odate" placeholder="DateOpened" value=@Model.DateOpened>
    </div>
    <div class="form-group">
        <label for="cdate">Date Closed</label>
        <input asp-for="DateClosed" type="datetime" class="form-control" id="cdate" placeholder="Date Closed" value=@Model.DateClosed>
    </div>
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Incidents" asp-action="Index" class="btn btn-info">Cancel</a>
</form>