@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPro</title>
    
    
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/MyCss.css" />
    </environment>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
        }
        .social a {
            font-size: 4.5rem;
            padding: 3rem;
        }

        .fa-facebook {
            color: #3b5998;
        }

        .fa-twitter {
            color: #00aced;
        }

        .fa-instagram {
            color: #517fa8;
        }

            .fa-facebook :hover,
            .fa-twitter :hover,
            .fa-instagram :hover {
                color: #d5d5d5;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SportsPro</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white @(controllerName == "Home" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @(controllerName == "Home" && action == "About"? "active" : "")" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Manage
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item text-dark @(controllerName == "Products" ? "active" : "")" asp-controller="Products" asp-action="Index">Products</a>
                                        <a class="dropdown-item text-dark @(controllerName == "Technicians" ? "active" : "")" asp-controller="Technicians" asp-action="Index">Technicians</a>
                                        <a class="dropdown-item text-dark @(controllerName == "Customers" ? "active" : "")" asp-controller="Customers" asp-action="Index">Customers</a>
                                        <a class="dropdown-item text-dark @(controllerName == "Incidents" ? "active" : "")" asp-controller="Incidents" asp-action="Index">Incidents</a>
                                        <a class="dropdown-item text-dark @(controllerName == "Registrations" ? "active" : "")" asp-controller="Registration" asp-action="GetCustomer">Registrations</a>
                                    </div>
                                </li>
                            }

                            if (User.IsInRole("Technician"))
                            {
                                <li class="nav-item dropdown">
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Manage
                                        </a>
                                        <a class="dropdown-item text-dark @(controllerName == "Incidents" ? "active" : "")" asp-controller="Incidents" asp-action="Index">Incidents</a>
                                    </div>
                                </li>
                            }
                        }

                    </ul>
                </div>

                <div class="navbar-nav navbar-right">
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <br />
    <footer class="container-fluid text-center">
        <div class="col-12">
            <div class="font-weight-bold">

                <h5><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> @DateTime.Now.Year - SportsPro</h5>
            </div>

        </div>
    </footer>

</body>
</html>