@model List<Technician>

@{
    ViewBag.Title = "Technician Manager";
    var msg = TempData["Message"]?.ToString();
    var needsToShow = msg == null || msg == "" ? false : true;
    bool deleted = false;
    if (needsToShow)
    {
        deleted = msg.Contains("Delete");
    }
    TempData["Message"] = "";
}

<div class="text-center">
    @if (needsToShow)
    {
        <h2 class="bg-info @(deleted ? "bg-danger": "")">@msg</h2>
    }

    <h1 style="background-color: #f7d6bf; font-size:50px" class="jumbotron"><b>Technician Manager</b></h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in @Model)
        {
            <tr>
                <td>@t.Name</td>
                <td>@t.Email</td>
                <td>@t.Phone</td>
                <td>
                    <a asp-controller="Technicians" asp-action="Edit" asp-route-id=@t.TechnicianID class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Technicians" asp-action="Delete" asp-route-id=@t.TechnicianID class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<a asp-controller="Technicians" asp-action="Add" class="btn btn-primary">Add Technician</a>