@model RegisterViewModel

<h2>Customer: @Model.ActiveCustomer</h2>
<h3>Registrations</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model.Products)

        {
            <tr>

                <td>@product.Name</td>



                <td>
                    <a asp-controller="Registration" asp-action="Delete"
                       asp-route-id="@product.ProductID"
                       class="btn btn-primary">Delete</a>
                </td>


            </tr>
        }
    </tbody>
</table>

<form asp-action="Registrations" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="form-group">
        <h3>Product</h3>
        <label asp-for="CurrentProduct.ProductID">Technician</label>
        <select asp-for="CurrentProduct.ProductID" class="form-control">
            <option value="">Please select one</option>
            @foreach (Product product in Model.Products)
            {
                <option value="@product.ProductID">@product.Name</option>
            }
        </select>
    </div>


    <div>
        <button type="submit" class="btn btn-primary">Select</button>
    </div>
</form>