@model List<Product>
 @*List all Products*@
@{
    ViewBag.Title = "Product Manager";
    var msg = TempData["Message"]?.ToString();
    var needsToShow = msg == null || msg == "" ? false : true;
    bool deleted = false;
    if (needsToShow)
    {
        deleted = msg.Contains("Delete");
    }
    TempData["Message"] = "";
}
<div class="text-center">

    @if (needsToShow)
    {
        <h2 class="bg-info @(deleted ? "bg-danger": "")">@msg</h2>@*temp data showing which Product deleted within a coloured box*@
    }


    <h1 style="background-color: #decdc3; font-size: 50px" class="jumbotron"><b>Product Manager</b></h1>
</div>@*Table showing only a few keys pieces of info about an Product. Rows are alternating stripes for easy read*@
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Release Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in @Model)
            @*each product row has an edit and delete button*@
        {
            <tr>
                <td>@p.ProductCode</td>
                <td>@p.Name</td>
                <td>@p.YearlyPrice</td>
                <td>@p.ReleaseDate</td>
                <td>
                    <a asp-controller="Products" asp-action="Edit" asp-route-id=@p.ProductID
                       class="btn" style="background-color: #bae8e8;">Edit</a>@*Edit button*@
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Delete" asp-route-id=@p.ProductID
                       class="btn" style="background-color: #f67e7d;">Delete</a>@*Delete button*@
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<a asp-controller="Products" asp-action="Add" class="btn" style="background-color: #5c848e; color:white">Add Product</a>@*add Product button*@

